In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df = df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,Tracy Chapman,Mountains O'things,The life I've always wanted \r\nI guess I'll ...
1,Notorious B.I.G.,Get Money,"Fuck bitches, get money, fuck niggas, get mone..."
2,Indiana Bible College,Psalm 8,"Introduction \r\nOh Lord, our Lord, how excel..."
3,Oasis,Half The World Away,I would like to leave this city \r\nThis old ...
4,Paul Simon,Soft Parachutes,Soft parachutes \r\nFourth of July \r\nVilla...
5,Marillion,Tumble Down The Years,"She took my hand and said ""Let's go together"" ..."
6,King Crimson,Neal And Jack And Me,"I'm wheels, I am moving wheels \r\nI am a 195..."
7,Warren Zevon,Things To Do In Denver When You're Dead,I called up my friend LeRoy on the phone \r\n...
8,Kenny Loggins,The One That Got Away,You were the quiet one \r\nAfraid to sleep al...
9,Bob Seger,All Your Love,Babe you know I love ya \r\nYes you know I lo...

In [9]:
df['text'][0]

"The life I've always wanted  \r\nI guess I'll never have  \r\nI'll be working for somebody else  \r\nUntil I'm in my grave  \r\nI'll be dreaming of a live of ease  \r\nAnd mountains Oh mountains o' things  \r\n  \r\nTo have a big expensive car  \r\nDrag my furs on the ground  \r\nAnd have a maid that I can tell  \r\nTo bring me anything  \r\nEveryone will look at me with envy and with greed  \r\nI'll revel in their attention  \r\nAnd mountains Oh mountains o' things  \r\n  \r\nSweet lazy life  \r\nChampagne and caviar  \r\nI hope you'll come and find me  \r\nCause you know who we are  \r\nThose who deserve the best in life  \r\nAnd know what money's worth  \r\nAnd those whose sole misfortune  \r\nWas having mountains o' nothing at birth  \r\n  \r\nOh they tell me  \r\nThere's still time to save my soul  \r\nThey tell me  \r\nRenounce all  \r\nRenounce all those material things you gained by  \r\nExploiting other human beings  \r\n  \r\nConsume more than you need  \r\nThis is the dream  \r\nMake you pauper  \r\nOr make you queen  \r\nI won't die lonely  \r\nI'll have it all prearranged  \r\nA grave that's deep and wide enough  \r\nFor me and all my mountains o' things  \r\n  \r\nMostly I feel lonely  \r\nGood good people are  \r\nGood people are only  \r\nMy stepping stones  \r\nIt's gonna take all my mountains o' things  \r\nTo surround me  \r\nKeep all my enemies away  \r\nKeep my sadness and loneliness at bay  \r\n  \r\nI'll be dreaming, dreaming... Dreaming...\r\n\r\n"

In [10]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [11]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex = True)

In [12]:
df.tail(5)

,artist,song,text
4995,Great Big Sea,Beat The Drum,i still hear the snares in the square \r colo...
4996,Metallica,Tuesday's Gone,"hey, you guys ready? \r one, two, three, one,..."
4997,Phish,Old Home Place,it's been ten long years since i left my home ...
4998,Santana,"Deeper, Dig Deeper","deeper, dig deeper \r \r deeper, deeper, di..."
4999,Ian Hunter,Resurrection Mary,"in 1935, i was living in paradise, i had a fri..."

In [13]:
import nltk
from nltk.stem.porter import PorterStemmer

In [14]:
stemmer = PorterStemmer()

In [15]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [17]:
import nltk
nltk.download('punkt')

ParseError: unclosed token: line 44, column 4 (<string>)

In [128]:
from nltk.data import find
find('tokenizers/punkt')

FileSystemPathPointer('C:\\Users\\takal\\AppData\\Roaming\\nltk_data\\tokenizers\\punkt')

In [129]:
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

In [130]:
stemmer = PorterStemmer()

In [131]:
def token(txt):
    tokens = word_tokenize(txt)
    a = [stemmer.stem(w) for w in tokens]
    return " ".join(a)

In [132]:
import nltk
nltk.download ('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\takal\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [133]:
print(token("you are beautiful, beauty"))

you are beauti , beauti

In [134]:
df['text'].apply(lambda x: token(x))

0       i know too well that i 'm just wast preciou ti...
1       onli when you travel veri deep insid yourself ...
2       ( record live at the spectrum , philadelphia 1...
3       i want to see what peopl saw i want to feel li...
4       guess i never thought again i 'd hear your voi...
                              ...
4995    i do n't want you to be no slave i do n't want...
4996    [ intro : fabol ] now i dont kno what life who...
4997    ye i hid your car key , honey ye i hid your su...
4998    dud'n dud'n dud'n dud'n , dud'n dud'n dud'n du...
4999    see these eye so green i can stare for a thous...
Name: text, Length: 5000, dtype: object

In [135]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [136]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [137]:
matrix = tfid.fit_transform(df['text'])

In [138]:
similer = cosine_similarity(matrix)

In [139]:
similer[1]

array([0.03448386, 1.        , 0.00202958, ..., 0.02727631, 0.00656741,
       0.02089744])

Recommender Function

In [143]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similer[idx])), reverse=True, key=lambda x: x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [144]:
recommender("I Just Want To Make Love To You")

['Dont You Want Me',
 'I Want Your Love',
 'Next To You',
 'Give To Live',
 'I Would Die For You',
 'What About Love',
 'Fall In Love',
 'Cold Machines',
 'I Want To With You',
 'I Know',
 'I Want Be Man',
 'For This Cause',
 'Never Wanna Leave You',
 'I Hate You Then I Love You',
 'Village Man',
 'All I Want Is You',
 'Love To See You Cry',
 "Don't Leave Me",
 "I Don't Want You Around",
 'Guilt Is A Useless Emotion']

In [145]:
import pickle

In [146]:
pickle.dump(similer,open("similarity","wb"))

In [147]:
pickle.dump(df,open("df","wb"))